VITE_APPWRITE_ENDPOINT=https://fra.cloud.appwrite.io/v1
VITE_APPWRITE_PROJECT_ID=YOUR_PROJECT_ID_HERE
VITE_APP_NAME=InvoiceFlow AI
VITE_APPWRITE_FUNCTION_PROCESS_DOCUMENT_ID=YOUR_PROCESS_DOCUMENT_FUNCTION_ID
VITE_APPWRITE_FUNCTION_DELETE_USER_DATA_ID=YOUR_DELETE_USER_DATA_FUNCTION_ID
